<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#if title}} {{title}} {{else}} Document | {{/if}} </title>
    {{#> styletag}} 
        <link rel='stylesheet' href='/css/style.css' />
    {{/styletag}}
</head>
<body>
    {{#> bodycontent}} content goes here {{/bodycontent}}
    {{#> footerpage}} {{!-- Nothing goes here --}} {{/footerpage}}
    {{!-- Additional script to be loadeded --}} {{#> scripttag}} {{>scripts}} {{/scripttag}}
</body>
</html>